@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app,
.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    main {
        flex: 1 1 auto;
    }
}

.lock  {
    overflow: hidden;
    touch-action: none;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    //background: var(--bg-color);        /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-block);    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
}
