.Page {
  @media (any-hover: hover) {
    padding-top: calc(var(--header-height) + 50px);
  }
  padding-top: 10px;
  min-height: 95vh;
}

.trigger {
  height: 20px;
}

.bottom {
  padding-bottom: 20px;
}
