.ViewSelector {
    border: 1px solid var(--color-border-select);
    border-radius: var(--border-radius-s);
    overflow: hidden;
    min-height: 40px;
    background-color: var(--accent-bg-color);
}

.button {
    border-radius: var(--border-radius-s);
    padding: 9px;
    transition: all 0.3s ease 0s;
}

.selected {
    background-color: var(--color-active-trigger);

    .icon {
        path,
        circle {
            stroke: var(--primary-color);
        }
    }
}
