.primary {
  color: var(--primary-color);
  .title {
    font: var(--font-l);
    //font-weight: var(--font-weight-medium);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .text {
    font: var(--font-s);
    color: var(--color-text-secondary);
  }
}

.error {
  .title {
    color: var(--color-error);
    font: var(--font-m);
  }
}

.small {
  color: var(--primary-color);

  .title {
    font: var(--font-m);
    font-weight: var(--font-weight-medium);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .text {
    font: var(--font-s);
    color: var(--color-text-secondary);
  }
}

.header {
  .title {
    font: var(--font-xl);

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .text {
    font: var(--font-l)
  }
}

.textBlock {
  color: var(--color-text-block);
}

.default {
  font: var(--font-m)
}

.medium {
  font: var(--font-l)
}

.link {
  font-size: var(--font-link);
  letter-spacing: 0.7px;
}

.big {
  font: var(--font-xl)
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}

.user {
  font: var(--font-link);
  font-size: 18px;
  color: var(--color-text-block);
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: var(--primary-color);
    }
  }

}
