.Text {
  color: var(--primary-color);
}

.inverted {
  color: var(--inverted-primary-color);
}
.secondary {
  color: var(--color-text-secondary);
}

.link{
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.4s ease 0s;
    @media (any-hover: hover) {
        &:hover {
        text-decoration: underline;
        }
      }

}

.error {
  color: var(--color-error);
}

.textBlock {
  color: var(--color-text-block);
}

.default {
  color: var(--color-default);

}

.small {
  font: var(--font-s);
}

.medium {
  font: var(--font-m);
}

.big {
  font: var(--font-l);
}

.large {
  font: var(--font-xl);
  @media (max-width: 767.98px) {
    font: var(--font-l);
    font-weight: var(--font-weight-semiBold);
  }
}

.alignStart {
  text-align: start;
}

.alignCenter {
  text-align: center;
}

.alignEnd {
  text-align: end;
}

.weightMedium {
  font-weight: var(--font-weight-medium);
}

.weightSemi {
  font-weight: var(--font-weight-semiBold);
}
