.ArticleTypeBlock {
  color: var(--secondary-color);
  padding: 5px 10px;
  background-color: var(--color-type-block);
  border-radius: var(--border-radius-s);
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.7px;
}

