.ArticleListItem {
  width: 350px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  position: relative;
  aspect-ratio: 360/240;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 14px;
}

.title {
  //white-space: nowrap;
  overflow: hidden;
  height: 60px;
  text-overflow: ellipsis;
}

.types {
  display: flex;
  gap: 10px;
  max-width: 300px;
  overflow: hidden;
}

.infoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}
