.body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.wrapperInput {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.label {
  color: var(--color-text-block);
}


.input {
  display: block;
  width: 100%;
  height: var(--height-input);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--border-color);
  padding: 0 10px;
  font-size: var(--font-size-m);
  background-color: var(--color-input-bg);
  outline: none;
  transition: all 0.4s ease 0s;
  color: var(--primary-color);
  z-index: 10;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-input-hover-bg);
    }
  }

  &:focus {
    border-color: var(--secondary-color);
  }
}

.wrapperInput > svg ~ .input {
  padding-left: 45px;
}


.icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 25px;
  height: 25px;
  z-index: 10;
  transform: translateY(-50%);
}

.error {
  .input {
    box-shadow: 0 0 5px var(--color-error);
  }
}

.readonly {
  opacity: 0.8;
}

.clear {
  background-color: transparent;
  border: none;
  color: var(--inverted-bg-color);
  transition: all 0.4s ease 0s;

  &:focus {
    box-shadow: none;
  }
}

.center {
  text-align: center;
}

.big {
  font: var(--font-xl);
}

.medium {
  font: var(--font-l);
}

.secondary {
  background-color: transparent;
  color: var(--inverted-bg-color);
}
