.slider {
    box-shadow: 0 0 7px  var(--box-shadow-slider);
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.slide {
    position: relative;
    max-height: 500px;
    background-color: #fff;
    border-radius: var(--border-radius-s);
    overflow: hidden;
}

.image {
    img {
        max-width: 100%;
    }
}

.content {
    padding: 15px 15px 20px;
    z-index: 10;
}
