.ArticleImageBlockComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.image {
    border-radius: var(--border-radius-s);
    overflow: hidden;
    max-width: 100%;
}
