.ArticleViewSelector {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-s);
  overflow: hidden;
  min-height: 40px;
  background-color: var(--accent-bg-color);
}

.button {
  border-radius: var(--border-radius-s);
  padding: 9px;
  transition: all 0.3s ease 0s;
}

.icon {
  font-size: var(--font-size-l);
  color: var(--color-view-icon);
  transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
          color: var(--primary-color);
        }
      }

}

.selected {
  background-color: var(--color-view-btn);

  .icon {
    color: var(--primary-color);
  }
}
