.dark {
    --bg-color: #262626;
    --inverted-bg: #fff;


    --inverted-bg-color: #e8e8ea;
    --bg-color-block: #52525b;
    --accent-bg-color: rgb(30 30 30);

    --primary-color: #fff;
    --inverted-primary-color: #181a2a;
    --secondary-color: #0080ff;
    --hover-color-article: #1c1c1c;

    // skeleton
    --skeleton-color: #52525b;
    --skeleton-shadow: #262626;

    // code
    --code-bg: #1212a1;

    //other
    --border-color: #4e4e4e;
    --box-shadow-color: #e8e8ea;
    --hover-button-color: #6b86fc;

    --color-default: #1c1c1c;


    //text
    --color-text-secondary: #52525b;
    --color-text-block: #bababf;
    --color-type-block: rgb(83 99 171 / 20%);
    --color-active-text-button: #fff;
    --color-error: #fc2947;
    --color-view-btn: #262626;
    --color-active-icon-btn: #fff;

    //select color
    --color-trigger: #262626;
    --color-options: #2e2e2e;
    --color-active-option: #262626;
    --color-border-select: #4e4e4e;
    --box-shadow-color-select: rgb(0 0 0 / 40%);
    --secelt-active: #52525b;
    --color-active-trigger: #2a2a2d;
    --color-icon: #52525b;

    // loader
    --color-loader: #fff;

    --color-input-bg:#262626;
    --color-input-hover-bg:#2a2a2d;

    //favorites
    --favorites-color: #fc5230;
    --hover-border: #52525b;
    --color-remove-btn: #fc5230;
    --box-shadow-slider: rgb(0 0 0 / 40%);
    --color-footer-bg: #2e2e2e;
    --color-base-link: #9b9b9f;
    --color-editor-mobile: #282828;


    //mobileBar
    --bg-mobile-bar:#2e2e2e;
    --bg-mobile-bar-top: #52525b;
    --color-mobile-open-btn: #52525b;
}
