.dark {
    --bg-color: #262626;
    --inverted-bg-color: #e8e8ea;
    --bg-color-block:#52525B;

    --accent-bg-color:rgb(30,30,30);

    --primary-color: #fff;
    --secondary-color: #0080ff;

    // skeleton
    --skeleton-color: #52525B;
    --skeleton-shadow: #262626;

    // code
    --code-bg: #1212a1;

    --border-color:#2e2e2e;


    --box-shadow-color: #e8e8ea;

    --hover-button-color: #6b86fc;

    --color-text-secondary:#97989F;

    --color-text-block:#BABABF;

    --color-type-block: rgba(83, 99, 171, 0.2);

    --color-active-text-button:#fff;


    --color-view-btn:#262626;

    //select color
    --color-trigger: #262626;
    --color-options:#2e2e2e;
    --color-active-optionL:#262626;
    --color-border-select:#4e4e4e;
    --box-shadow-color-select:rgba(0,0,0,.4);
    --secelt-active:#52525B;


    --color-active-trigger:#2d2d31;

    --color-view-icon:#52525B;
}
