.light {
    --bg-color: #fff;
    --inverted-bg: #262626;

    --inverted-bg-color: #242535;
    --bg-color-block: #f6f6f7;
    --accent-bg-color: #f8f8f8;
    --primary-color: #181a2a;
    --inverted-primary-color: #fff;
    --secondary-color: #5e69ee;

    // skeleton
    --skeleton-color: #97989f;
    --skeleton-shadow: #e8e8ea;

    // code
    --code-bg: #fff;

    //other
    --border-color: #bababf;
    --box-shadow-color: #5e69ee;
    --hover-button-color: #3158fa;
    --hover-color-article: #e8e8ea;

    --color-default: #1c1c1c;
    //text
    --color-text-secondary: #97989f;
    --color-text-block: #454654;
    --color-type-block: rgb(43 76 252 / 20%);
    --color-active-text-button: #fff;
    --color-error: #fc2947;
    --color-error-bg: rgba(252, 41, 71, 0.6);
    --color-error-border: #f30d2f;
    --color-view-btn: #e8e8e8;
    --color-active-icon-btn: #fff;

    //select color

    --color-input-bg:#f6f6f7;
    --color-input-hover-bg:#eaeaea;


    --color-trigger: #f6f6f7;
    --color-options: #f6f6f6;
    --color-active-option: #262626;
    --color-border-select: #ababab;
    --box-shadow-color-select: rgb(0 0 0 / 40%);
    --secelt-active: #e8e8e8;
    --color-active-trigger: #eaeaea;
    --color-icon: #9b9ba2;
    --color-white:#fff;
    //loader
    --color-loader: #fff;

    //favorites
    --favorites-color: #fc5230;
    --hover-border: #616169;
    --color-remove-btn: #fc5230;
    --box-shadow-slider: rgb(0 0 0 / 40%);

    //footer
    --color-footer-bg:  #f8f8f8;
    --color-base-link: #625f5f;
    --color-editor-mobile: #e8e8e8;

    --bg-mobile-bar-top: #b4b4b9;
    --color-mobile-open-btn: #b4b4b9;


    //advantages
    --bg-advantages:#ecebeb;
}
