.light {
    --bg-color: #fff;
    --inverted-bg-color: #242535;
    --bg-color-block:#F6F6F7;
    --accent-bg-color: #f8f8f8;
    --primary-color: #181A2A;

    --secondary-color: #5E69EE;
    // skeleton
    --skeleton-color: #97989F;
    --skeleton-shadow: #e8e8ea;

    // code
    --code-bg: #fff;

    --border-color:#BABABF;
    --box-shadow-color: #5E69EE;

    --hover-button-color: #3158fa;


    --color-text-secondary:#97989F;

    --color-text-block:#3B3C4A;

}
