.light {
    --bg-color: #fff;
    --inverted-bg-color: #242535;
    --bg-color-block:#F6F6F7;
    --accent-bg-color: #f8f8f8;
    --primary-color: #181A2A;

    --secondary-color: #5E69EE;
    // skeleton
    --skeleton-color: #97989F;
    --skeleton-shadow: #e8e8ea;

    // code
    --code-bg: #fff;

    --border-color:#BABABF;
    --box-shadow-color: #5E69EE;

    --hover-button-color: #3158fa;


    --color-text-secondary:#97989F;

    --color-text-block: #454654;

    --color-type-block: rgba(43, 76, 252, 0.2);


    --color-active-text-button:#fff;

    //select color

    --color-trigger: #F6F6F7;
    --color-options: #f6f6f6;
    --color-active-option:#262626;
    --color-border-select: #ababab;
    --box-shadow-color-select:rgba(0,0,0,.4);
    --secelt-active:#e8e8e8;
}
