.CommentItem {
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;

  span {
    transition: all 0.4s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  //overflow: hidden;
  border-radius: 50%;
}
