.Icon {
  path, circle {
    transition: all 0.3s ease 0s;
    stroke: var(--color-icon);
  }
  width: 25px;
  height: 25px;
}

.hover {
  @media (any-hover: hover) {
    &:hover {
      path, circle {
        stroke: var(--primary-color);
      }
    }
  }
}

.no_hover{
  @media (any-hover: hover) {
    &:hover {
      path, circle {
        stroke: var(--primary-color);
      }
    }
  }
}


