.MobileBarTop {
    background-color: var(--bg-mobile-bar-top);
    padding: 15px;
    border-radius: var(--border-radius-s) var(--border-radius-s) 0 0 ;
    display: flex;
    align-items: center;
    gap: 15px;
}
