.Tabs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tab {
    padding: 5px 10px;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--secondary-color);
}

.active {
    background-color: var(--secondary-color);
    color: var(--color-active-text-button);
}

.radio {
    opacity: 0;
    width: 0;
    height: 0;
}
