.ErrorBlock {
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-error-border);
  padding: var(--container-padding-small);
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-error);
    opacity: 0.3;
    z-index: -1;
  }

  svg {
    flex: 0 0 25px;
    path, circle {
      stroke: var(--color-white);
    }
  }
}
