.small {
  &.ProductCard {
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        border-color: var(--hover-border);
        background-color: var(--hover-color-article);
      }
    }
  }

  .body {
    height: 100%;
  }

  .image {
    position: relative;
    display: block;

    //padding-bottom: 60%;
    aspect-ratio: 90/80;
    border-radius: var(--border-radius-s);
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }


  .content {
    flex: 1 1 auto;
  }

  .favorites {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    path {

    }
  }

  .title {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  .prevPrice {
    text-decoration-line: line-through;
    color: var(--color-text-secondary);
  }

  .addButton {
  > button {
    width: 100%;
  }

  }
}

.big {
  &.ProductCard {
    padding: 0;
    overflow: hidden;
    transition: all 0.4s ease 0s;
  }

  .card {
    padding: 15px;
    transition: all 0.4s ease 0s;
    @media (max-width: 767.98px) {
      padding: 10px;
      gap: 6px;
    }

  }

  @media (any-hover: hover) {
    &:hover {
      border-color: var(--hover-border);

      .card {
        background-color: var(--hover-color-article);

      }
    }
  }

  .imageBody {
    position: relative;
    display: block;

    //padding-bottom: 60%;
    aspect-ratio: 100/90;
    border-radius: var(--border-radius-s);
    overflow: hidden;

  }

  .image{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
  }

  .rating {
    @media (max-width: 767.98px) {
      width: 25px;
      height: 25px;
      overflow: hidden;
    }
  }

  .imageBlock {
    flex: 0 1 20%;
    @media (max-width: 767.98px) {
      flex: 0 0 100px;
    }
    @media (max-width: 479.98px) {
      flex: 0 0 90px;
    }
  }

  .textBlock {
    flex: 0 1 50%;
  }

  .title {
    @media (max-width: 767.98px) {
      font-size: var(--font-size-d);
    }
  }
  .actionsBlock {
    flex: 0 1 30%;

    @media (max-width: 991.98px) {
      align-items: flex-end;
    }
  }

  .button {
    @media (max-width: 767.98px) {
      span {
        display: none;
      }
    }
  }
}

.cartPlus {
  path {
    stroke: var(--color-active-icon-btn);
  }
}

.button {
  span {
    white-space: nowrap;
  }
}

.previousPrice {
  text-decoration-line: line-through;
}


.notfound {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100px;
    height: 100px;
  }
}

.skeletonImage {
  flex: 0 0 20%;
}

.skeletonBig {
  width: 100%;
}

.buttons {
  width: 100%;
  display:grid;
  grid-template-columns: minmax(50px,162px) 25px;
  gap: 7px;
 @media (max-width: 991.98px) {
     justify-content: end;
 }
  .addButton {
   max-width: 162px;
  }

}
.skeletonBigImage{
  height: 100px;
  width:  100px;
}

