.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(0.2rem);
    background: rgba(0, 0, 0, .7);
    //display: flex;
    //justify-content: center;
    //align-items: center;
    transition: all 0.4s ease 0s;
    z-index: var(--z-index-overlay);
    cursor: pointer;
}
