.AvatarChange {
}

.imageInput{
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
