.NotFoundImage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 100px;
    height: 100px;
    @media (max-width: 479.98px) {
      width: 90px;
      height:90px;
    }
  }
}
